/*div{*/
/*  background-color: red;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
body{
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: red;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    padding: 16px 10px;
}